body {
    background-color: #fff;
    color: #4F5155;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    margin: 40px;
}

h1 {
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    color: #444;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

code {
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#container {
    border: 1px solid #D0D0D0;
    margin: 10px;
}

#body {
    margin: 0 15px 0 15px;
}

#footer {
    border-top: 1px solid #D0D0D0;
    font-size: 11px;
    line-height: 32px;
    margin: 20px 0 0 0;
    padding: 0 10px 0 10px;
    text-align: right;
}